.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 4fr, 5fr, 1fr;
    grid-template-areas: "hd" 'jb' "md" "ar" "ft";
}

h2 {
    color: #606c76;
    font-family: 'Cinzel', serif;
}

h4 {
    font-family: 'Cinzel', serif;
}

header h2 {
    float: left;
}

#header {
    grid-area: hd;
}

.description,
.author {
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    float: right;
    position: sticky;
    margin: 19.920px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#header {
    display: inline-block;
    justify-content: center;
}

.jumbo-display {
    grid-area: jb;
    margin-top: 15px;
    margin-bottom: 30px;
    background-image: url("../images/download-wallpaper-1920x1080-paint-liquid-abstract-colorful-astonishing-hd-background-special-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    text-align: center;
    color: #f9f9f9;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    opacity: 0.8;
}

.subscribe {
    float: right;
    position: relative;
    top: 40%;
}

.jumbo-display section {
    position: relative;
    top: 40%;
}

#sub-header {
    grid-area: md;
    text-align: center;
    margin-bottom: 15px;
}

#sub-header h3 {
    font-family: 'Cinzel', serif;
}

.post-articles {
    grid-area: ar;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.articles {
    width: 100%;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 .25rem .25rem rgba(209, 209, 209, 0.4), 0 0 1rem rgba(209, 209, 209, 0.5);
    margin-bottom: 30px;
}

.main_img {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 230px;
}

.description span,
.author span {
    color: #9b4dca;
    font-weight: 700;
}

#category_img {
    width: 35px;
    height: 35px;
    z-index: 1;
    float: right;
    position: absolute;
    top: 126%;
    right: 8%;
}

.title-section .article-title {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    color: #fff;
    width: 60%;
}

.author {
    margin-top: 3rem;
}

#author2 {
    margin-top: 5.5rem;
}

footer {
    text-align: center;
    border-top: 1px solid rgba(209, 209, 209, 0.4);
}

.inner-footer {
    margin-top: 20px;
}

.fa {
    padding: 0;
    font: 1rem;
    text-decoration: none;
    margin: 0 8px;
}

a {
    text-decoration: none;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: aqua;
}

.fa-instagram {
    color: #8134AF;
}

.blog-link {
    text-align: center;
}

.footer {
    grid-area: ft;
}

@media (min-width: 600px) {
    .articles {
        width: 70%;
    }
    .post-articles {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 4fr, 5fr, 1fr;
        grid-template-areas: "hd" "jb" "md" "ar" "ft";
    }
    .post-articles {
        justify-content: normal;
        align-items: inherit;
        flex-direction: row;
    }
    .articles {
        width: 30%;
        margin-left: 30px;
    }
}