.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px, 200px, 300px, 50px;
    grid-template-areas: "hd" "md" "ar" "ft";
}

h2 {
    color: #606c76;
    font-family: 'Cinzel', serif;
}

header {
    float: left;
}

#navbar {
    float: right;
    position: sticky;
    margin: 19.920px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#header {
    grid-area: "hd";
    display: inline-block;
    justify-content: center;
}

.jumbo-display {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: aqua;
    height: 440px;
    text-align: center;
}

.jumbo-display section {
    position: relative;
    top: 40%;
}

#sub-header {
    text-align: center;
    margin-bottom: 15px;
}

#sub-header h3 {
    font-family: 'Cinzel', serif;
}

.post-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.articles {
    width: 100%;
}

.main_img {
    position: relative;
    width: 100%;
    z-index: 1
}

#category_img {
    width: 35px;
    height: 35px;
    z-index: 1;
    float: right;
    position: absolute;
    top: 126%;
    right: 8%;
}